* {
    color: rgb(39, 51, 155);
    font-family: Montserrat;
}

.text_fio {
    font-size: clamp(15px, 20px, 40px);
    letter-spacing: 6px;
    font-weight: 700;
}

.text_intro {
    font-size: clamp(12px, 17px, 35px);
    color: rgb(143, 150, 209);
}
.box_header {
    display: inline-block;
    align-items: center;
    border: 1px solid blue;
    margin: 5px;
    align-items: center;
}

.img_id {
    width: 130px;
}

header {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-top: 40px;
    border: 1px solid red;
    
}




/* .box {
    display: flex;
  justify-content: space-between;
} */

