$background-header: #E1EAF9;
$primary-text-color: #003D56;
$highlight-blue: #0372FF;
$button-border: #787CA9;
$white: #FFF;
$green: #1AD079;
$font-family: 'Century Gothic', sans-serif;
$font-size-base: 16px;
