
:root {
  --color-main: #FDCC4B;
  --color-main-dark: #dbb75c;
  --color-second: #27339B;
  --color-grey: #4e4e4e;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', Arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 80%;
  text-align: center;


  @media (max-width: 42rem) //42rem = 672px
  {
    width: 90%;
  }}


  @import "header";
  @import "inner";
  @import "footer";
