.intro {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    @media (max-width: 48rem) {
        margin-top: 0;
    }

    .banner {
        margin-top: -110px;
        height: 110%;
        width: 40vw;

        @media (max-width: 64rem) {
            width: 0;
        }

        &__img {
            position: absolute;
            top: 0;
            right: 0;
            width: 40%;
            height: 110%;
            object-fit: cover;
            transition: transform 1s ease-out, opacity 1s ease-out;
            z-index: 11;

            @media (max-width: 64rem) {
                top: 76px;
                z-index: -1;
            }
        }

        img {
            @media (max-width: 64rem) {
                width: 100%;
                filter: brightness(30%);
            }
        }
    }

    .hero {
        max-width: 49rem;
        display: flex;
        gap: 2rem;
        flex-direction: column;
        justify-content: center;
        

        @media (max-width: 64rem) {
            width: 100%;
            margin: 8% auto;
        }

        &__subtitle {
            font-family: "Montserrat";
            font-size: clamp(1.25rem, 5vw, 2rem);
            @media (max-width: 64rem) {
                margin: 0 auto;
            }
            @media (max-width: 48rem) {
                text-align: center;
            }
        }

        &__list {
            font-size: 1.5rem;
            list-style: none;

            @media (max-width: 64rem) {
                margin: 0 auto;
            }


            li {
                font-family: "Montserrat";
                display: flex;
                align-items: center;
                gap: 1rem;
                font-size: clamp(0.75rem, 5vw, 1rem);
                margin: 0.4rem auto;
            }

            .hero__highlight {
                font-size: clamp(1rem, 5vw, 2rem);
                font-family: "Prata" !important;
            }

            img {
                width: 1.7rem;
                @media (max-width: 48rem) {
                    width: 1.25rem;
                }
            }
        }

        h1 {
            font-size: clamp(2rem, 5vw, 3.5rem);

            @media (max-width: 64rem) {
                text-align: center;
            }
        }
    }
}

.button-small {
    font-size: clamp(0.75rem, 5vw, 1.2rem);
    max-width: 11.625rem;
    padding: 2.1rem 3.125rem;
    border-radius: 4px;
    font-weight: 700;

    @media (max-width: 64rem) {
        padding: 1.5rem 2.2rem;
        margin: 0 auto;
    }

    @media (max-width: 48rem) {
        padding: 1rem 2rem;
    }

    &:hover {
        background-color: var(--hover-color);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
    }
}